.addUser {
  width: 100%;
  height: 100%;
  max-width: 500px; /* Max width to prevent it from becoming too wide */
  padding: 30px;
  background-color: rgba(17, 25, 40, 0.781);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ensures the modal is centered */
  z-index: 999999;
  overflow: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.addUser .popupHeader {
  position: absolute;
  top: 10px;
  right: 10px;
}

.addUser .closeButton {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa;
}

.addUser .closeButton:hover {
  color: #f00; /* Change color on hover */
}

/* Form Styling */
.addUser form {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.addUser input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  flex: 1;
}

.addUser button {
  padding: 15px;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

.addUser button:disabled {
  background-color: #ccc;
}

/* User Detail Section */
.addUser .user {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addUser .detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.addUser .detail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.addUser .user button {
  padding: 10px;
  border-radius: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

/* Error Message Styling */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.cross{
  display: none;
}

@media(max-width:600px){

  .cross{
    display: block;
    position: relative;
right: -160px;
  }
}